@@include('./parts/header.html', {
    "title": "Документация"
})
<div class="content content--padding-template-1">
    <div class="container">
        <div class="container__row">
            <div class="title">
                <img src="/assets/images/logo.svg" alt="герб" class="title__preimg">
                <p>Документация</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__row">
            <div class="doc__list">
                <a href="#" class="doc__item">
                    <div class="image" style="background-image: url('/assets/images/docs/Group 793.jpg');"></div>
                    <p>Название Документа</p>
                </a>
                <a href="#" class="doc__item">
                    <div class="image" style="background-image: url('/assets/images/docs/Group 793.jpg');"></div>
                    <p>Название Документа</p>
                </a>
                <a href="#" class="doc__item">
                    <div class="image" style="background-image: url('/assets/images/docs/Group 793.jpg');"></div>
                    <p>Название Документа</p>
                </a>
                <a href="#" class="doc__item">
                    <div class="image" style="background-image: url('/assets/images/docs/Group 793.jpg');"></div>
                    <p>Название Документа</p>
                </a>
                <a href="#" class="doc__item">
                    <div class="image" style="background-image: url('/assets/images/docs/Group 793.jpg');"></div>
                    <p>Название Документа</p>
                </a>
                <a href="#" class="doc__item">
                    <img src="/assets/images/docs/Group 793.jpg" alt="">
                    <p>Название Документа</p>
                </a>
                <a href="#" class="doc__item">
                    <img src="/assets/images/docs/Group 793.jpg" alt="">
                    <p>Название Документа</p>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__row">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Обращения граждан</a>
            </div>
        </div>
    </div>
</div>
@@include('./parts/footer.html')