@@include('./parts/header.html')
<div class="content">
    <div class="slider">
        <div class="container">
            <div class="container__row">
                <div class="slider__inner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image image--cover" style="background-image: url('/assets/images/slider/Slider Photo.png');"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image image--cover" style="background-image: url('/assets/images/slider/Slider Photo.png');"></div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__row">
            <div class="flex flex__ai-s flex__jc-sb">
                <a href="#" class="button button__jumbo">Вступить в комитет</a>
                <a href="#" class="button button__jumbo">Юридическая помощь</a>
                <a href="#" class="button button__jumbo">Обращения граждан</a>
            </div>
        </div>
    </div>
</div>
@@include('./parts/footer.html')