@@include('./parts/header.html')
<div class="content">
    <div class="slider">
        <div class="container">
            <div class="container__row">
                <div class="slider__inner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image image--cover" style="background-image: url('/assets/images/slider/Slider Photo.png');"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image image--cover" style="background-image: url('/assets/images/slider/Slider Photo.png');"></div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__row">
            <div class="button__jumbo__group">
                <a href="#" class="button button__jumbo">Вступить в комитет</a>
                <a href="#" class="button button__jumbo">Юридическая помощь</a>
                <a href="#" class="button button__jumbo">Обращения граждан</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__row">
            <section class="content__main">
                <div class="title">
                    <p>О комитете</p>
                </div>
                <div class="content__container">
                    <p><img src="/assets/images/gerb.png" class="float__left float__left__img" alt="герб"></p>
                    <p>Сегодня можно с полным правом говорить о том, что <strong>«Федеральный комитет по контролю, борьбе с коррупцией и терроризмом»</strong> и <strong>“Федеральный комитет по борьбе с коррупцией в высших эшелонах власти”</strong> стали по-настоящему действенными общественными структурами, для тех, кто нуждается в социальной, правовой и иной защите, а также для тех, кто готов реализовать свои энергию, и возможности для решения наших с Вами общих задач.</p>
                    <p>Хочу отметить, что мы не ставим своей целью сделать нашу организацию массовой. Организационные и другие способности Комитетов определяются, прежде всего, ее интеллектуальным потенциалом, профессиональными способностями, их реальными возможностями решать конкретные задачи, и, естественно, желанием достигать поставленных целей. Это касается как руководства Организации, так и каждого обладателя Удостоверения Полномочного представителя комитета.</p>
                    <p>В связи с этим, я хотел бы особо отметить, что принадлежность к нашему Комитету вызывает чувство гордости и уважения к Организации, это приятно, этим надо гордиться, но в то же время нужно помнить, что беречь авторитет Комитета — это святая обязанность каждого. В “Федеральном комитете по контролю, борьбе с коррупцией и терроризмом” и в “Федеральном комитете по борьбе с коррупцией в высших эшелонах власти” каждому сотруднику будет оказана бесплатная юридическая помощь по любому вопросу.</p>
                    <p>Мы оказываем материальную помощь семьям погибших и умерших, детским домам, лечебным учреждениям, учебным заведениям и воинским частям, а также организуем ежегодные товарищеские встречи. Мы оказываем организационную и материальную помощь военно-патриотическим и военно-спортивным организациям молодежи. Можно по-разному оценивать, что удалось сделать и что пока не получается. Мне же хотелось бы отметить, что главным показателем нашей совместной работы является то, что наша Организация состоялась и имеет все условия для полноценной работы.</p>
                    <p>В заключение я хотел бы подчеркнуть следующее: Мы будем стремиться помогать каждому члену организации, если потребуется. В то же время необходим вклад в ее деятельность. Отсюда простой вывод: нужно постоянно думать, как лучше организовать работу нашего сообщества, вносить конкретные предложения, лично участвовать в реализации тех или иных проектов.</p>
                    <div class="separator"></div>
                    <p class="text__weight--bold">
                        С уважением, Меркулов Александр Юрьевич Председатель Федерального комитета по контролю, борьбе с коррупцией и терроризмом,
                        Председатель Федерального комитета по борьбе с коррупцией в высших эшелонах власти, кандидат в Президенты - 2018 Российской Федерации от народа,
                        Президент Всероссийского союза правозащитников, Президент Федерации защиты предпринимателей.
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>
@@include('./parts/footer.html')