@@include('./parts/header.html', {
    "title": "Новости"
})
<div class="content content--padding-template-1">
    <div class="container">
        <div class="container__row">
            <div class="title">
                <p>Новости</p>
            </div>
            <div class="newscard__list">
                <div class="newscard">
                    <div class="image"></div>
                    <div class="newscard__info">
                        <p class="newscard__info__title">
                            Прокуратура Республики Дагестан и Федеральный комитет по борьбе с коррупцией в высших эшелонах власти
                        </p>
                        <p class="newscard__info__text">
                            Прокуратурой республики рассмотрено Ваше обращение о несоблюдении бывшим заместителем прокурора Ленинского района г. Махачкалы Бутаевым Ф.Н. требований к служебному поведению и требования об урегулировании конфликта интересов. Приказом прокурора республики от 22.05.2018 Бутаев Ф.Н. назначен на должность помощника прокурора г. Махачкалы, т.е. конфликт интересов урегулирован.
                        </p>
                        <a href="#" class="button button__blue">Подробнее</a>
                    </div>
                </div>
                <div class="newscard">
                    <div class="image"></div>
                    <div class="newscard__info">
                        <p class="newscard__info__title">
                            Прокуратура Республики Дагестан и Федеральный комитет по борьбе с коррупцией в высших эшелонах власти
                        </p>
                        <p class="newscard__info__text">
                            Прокуратурой республики рассмотрено Ваше обращение о несоблюдении бывшим заместителем прокурора Ленинского района г. Махачкалы Бутаевым Ф.Н. требований к служебному поведению и требования об урегулировании конфликта интересов. Приказом прокурора республики от 22.05.2018 Бутаев Ф.Н. назначен на должность помощника прокурора г. Махачкалы, т.е. конфликт интересов урегулирован.
                        </p>
                        <a href="#" class="button button__blue">Подробнее</a>
                    </div>
                </div>
                <div class="newscard">
                    <div class="image"></div>
                    <div class="newscard__info">
                        <p class="newscard__info__title">
                            Прокуратура Республики Дагестан и Федеральный комитет по борьбе с коррупцией в высших эшелонах власти
                        </p>
                        <p class="newscard__info__text">
                            Прокуратурой республики рассмотрено Ваше обращение о несоблюдении бывшим заместителем прокурора Ленинского района г. Махачкалы Бутаевым Ф.Н. требований к служебному поведению и требования об урегулировании конфликта интересов. Приказом прокурора республики от 22.05.2018 Бутаев Ф.Н. назначен на должность помощника прокурора г. Махачкалы, т.е. конфликт интересов урегулирован.
                        </p>
                        <a href="#" class="button button__blue">Подробнее</a>
                    </div>
                </div>
                <div class="newscard">
                    <div class="image"></div>
                    <div class="newscard__info">
                        <p class="newscard__info__title">
                            Прокуратура Республики Дагестан и Федеральный комитет по борьбе с коррупцией в высших эшелонах власти
                        </p>
                        <p class="newscard__info__text">
                            Прокуратурой республики рассмотрено Ваше обращение о несоблюдении бывшим заместителем прокурора Ленинского района г. Махачкалы Бутаевым Ф.Н. требований к служебному поведению и требования об урегулировании конфликта интересов. Приказом прокурора республики от 22.05.2018 Бутаев Ф.Н. назначен на должность помощника прокурора г. Махачкалы, т.е. конфликт интересов урегулирован.
                        </p>
                        <a href="#" class="button button__blue">Подробнее</a>
                    </div>
                </div>
                <div class="newscard">
                    <div class="image"></div>
                    <div class="newscard__info">
                        <p class="newscard__info__title">
                            Прокуратура Республики Дагестан и Федеральный комитет по борьбе с коррупцией в высших эшелонах власти
                        </p>
                        <p class="newscard__info__text">
                            Прокуратурой республики рассмотрено Ваше обращение о несоблюдении бывшим заместителем прокурора Ленинского района г. Махачкалы Бутаевым Ф.Н. требований к служебному поведению и требования об урегулировании конфликта интересов. Приказом прокурора республики от 22.05.2018 Бутаев Ф.Н. назначен на должность помощника прокурора г. Махачкалы, т.е. конфликт интересов урегулирован.
                        </p>
                        <a href="#" class="button button__blue">Подробнее</a>
                    </div>
                </div>
                <div class="newscard">
                    <div class="image"></div>
                    <div class="newscard__info">
                        <p class="newscard__info__title">
                            Прокуратура Республики Дагестан и Федеральный комитет по борьбе с коррупцией в высших эшелонах власти
                        </p>
                        <p class="newscard__info__text">
                            Прокуратурой республики рассмотрено Ваше обращение о несоблюдении бывшим заместителем прокурора Ленинского района г. Махачкалы Бутаевым Ф.Н. требований к служебному поведению и требования об урегулировании конфликта интересов. Приказом прокурора республики от 22.05.2018 Бутаев Ф.Н. назначен на должность помощника прокурора г. Махачкалы, т.е. конфликт интересов урегулирован.
                        </p>
                        <a href="#" class="button button__blue">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="flex flex__jc-c">
                <button class="button">Загрузить еще</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__row">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Новости</a>
            </div>
        </div>
    </div>
</div>
@@include('./parts/footer.html')