@@include('./parts/header.html', {
    "title": "Приказы"
})
<div class="content content--padding-template-1">
    <div class="container">
        <div class="container__row">
            <div class="title">
                <img src="/assets/images/logo.svg" alt="герб" class="title__preimg">
                <p>Приказы</p>
                <span>
                    Федеральный комитет по борьбе<br>с коррупцией в высших эшелонах власти
                </span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__row">
            <div class="order__list">
                <div class="order__item">
                    <a href="#" class="image" style="background-image: url('/assets/images/docs/Group 793.jpg')"></a>
                    <p>Приказ № 19-00103 КВЯ</p>
                </div>
                <div class="order__item">
                    <a href="#" class="image" style="background-image: url('/assets/images/docs/Group 793.jpg')"></a>
                    <p>Приказ № 19-00103/2 КВЯ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__row">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Обращения граждан</a>
            </div>
        </div>
    </div>
</div>
@@include('./parts/footer.html')