@@include('./parts/header.html', {
    "title": "Учредительный протокол"
})
<div class="content content--padding-template-1">
    <div class="container">
        <div class="container__row">
            <div class="title">
                <img src="/assets/images/logo.svg" alt="герб" class="title__preimg">
                <p>Учредительный протокол</p>
                <span>
                    Учредительный протокол Федерального комитета по контролю, борьбе с коррупцией и терроризмом
                </span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__row">
            <div class="protocol__list">
                <div class="protocol__item">
                    <div class="protocol__images">
                        <a href="#" class="image" style="background-image: url('/assets/images/docs/Group 793.jpg')"></a>
                        <a href="#" class="image" style="background-image: url('/assets/images/docs/Group 793.jpg')"></a>
                        <a href="#" class="image" style="background-image: url('/assets/images/docs/Group 793.jpg')"></a>
                    </div>
                    <p>Протокол № 003</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__row">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Обращения граждан</a>
            </div>
        </div>
    </div>
</div>
@@include('./parts/footer.html')