@@include('./parts/header.html', {
    "title": "Страница Отчетности"
})
<div class="content">
    <div class="container">
        <div class="container__row">
            <div class="title">
                <img src="/assets/images/logo.svg" alt="герб" class="title__preimg">
                <p>Отчетность</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__row">
            <div class="report__list">
                <div class="report__item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet in urna nec commodo. Morbi rutrum velit ac turpis mattis pellentesque. In vel dapibus libero. Nunc feugiat cursus ligula nec ullamcorper. Fusce pellentesque turpis nisl, non maximus elit tincidunt a. Duis sodales dictum libero ut iaculis.</p>
                    <div class="report__date">28 марта 2020 г.</div>
                </div>
                <div class="report__item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet in urna nec commodo. Morbi rutrum velit ac turpis mattis pellentesque. In vel dapibus libero. Nunc feugiat cursus ligula nec ullamcorper. Fusce pellentesque turpis nisl, non maximus elit tincidunt a. Duis sodales dictum libero ut iaculis.</p>
                    <div class="report__date">28 марта 2020 г.</div>
                </div>
                <div class="report__item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet in urna nec commodo. Morbi rutrum velit ac turpis mattis pellentesque. In vel dapibus libero. Nunc feugiat cursus ligula nec ullamcorper. Fusce pellentesque turpis nisl, non maximus elit tincidunt a. Duis sodales dictum libero ut iaculis.</p>
                    <div class="report__date">28 марта 2020 г.</div>
                </div>
                <div class="report__item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet in urna nec commodo. Morbi rutrum velit ac turpis mattis pellentesque. In vel dapibus libero. Nunc feugiat cursus ligula nec ullamcorper. Fusce pellentesque turpis nisl, non maximus elit tincidunt a. Duis sodales dictum libero ut iaculis.</p>
                    <div class="report__date">28 марта 2020 г.</div>
                </div>
                <div class="report__item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet in urna nec commodo. Morbi rutrum velit ac turpis mattis pellentesque. In vel dapibus libero. Nunc feugiat cursus ligula nec ullamcorper. Fusce pellentesque turpis nisl, non maximus elit tincidunt a. Duis sodales dictum libero ut iaculis.</p>
                    <div class="report__date">28 марта 2020 г.</div>
                </div>
                <div class="report__item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet in urna nec commodo. Morbi rutrum velit ac turpis mattis pellentesque. In vel dapibus libero. Nunc feugiat cursus ligula nec ullamcorper. Fusce pellentesque turpis nisl, non maximus elit tincidunt a. Duis sodales dictum libero ut iaculis.</p>
                    <div class="report__date">28 марта 2020 г.</div>
                </div>
                <div class="report__item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet in urna nec commodo. Morbi rutrum velit ac turpis mattis pellentesque. In vel dapibus libero. Nunc feugiat cursus ligula nec ullamcorper. Fusce pellentesque turpis nisl, non maximus elit tincidunt a. Duis sodales dictum libero ut iaculis.</p>
                    <div class="report__date">28 марта 2020 г.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__row">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Обращения граждан</a>
            </div>
        </div>
    </div>
</div>
@@include('./parts/footer.html')