@@include('./parts/header.html', {
    "title": "Видео"
})
<div class="content content--padding-template-1">
    <div class="container">
        <div class="container__row">
            <div class="title">
                <p>Видео</p>
            </div>
            <div class="video__list">
                <a href="#" class="video__card">
                    <div class="image"></div>
                    <span>Черепков жив.</span>
                </a>
                <a href="#" class="video__card">
                    <div class="image"></div>
                    <span>Вступай в комитет по борьбе с коррупцией!</span>
                </a>
                <a href="#" class="video__card">
                    <div class="image"></div>
                    <span>Безумство власти</span>
                </a>
                <a href="#" class="video__card">
                    <div class="image"></div>
                    <span>Черепков жив.</span>
                </a>
                <a href="#" class="video__card">
                    <div class="image"></div>
                    <span>Вступай в комитет по борьбе с коррупцией!</span>
                </a>
                <a href="#" class="video__card">
                    <div class="image"></div>
                    <span>Безумство власти</span>
                </a>
                <a href="#" class="video__card">
                    <div class="image"></div>
                    <span>Черепков жив.</span>
                </a>
                <a href="#" class="video__card">
                    <div class="image"></div>
                    <span>Вступай в комитет по борьбе с коррупцией!</span>
                </a>
                <a href="#" class="video__card">
                    <div class="image"></div>
                    <span>Безумство власти</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__row">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Новости</a>
            </div>
        </div>
    </div>
</div>
@@include('./parts/footer.html')