	<footer class="footer">
		<div class="footer__main">
			<div class="container">
				<div class="container__row">
					<div class="footer__main__container">
						<a href="#" class="logo">
							<img src="../../assets/images/logo.svg" alt="" class="logo__image">
							<span class="logo__text text__color--white">
								Федеральный комитет по борьбе<br>
								с коррупцией в высших эшелонах власти
							</span>
						</a>
						<nav class="navigation">
							<a href="#" class="navigation__item">Главная</a>
							<a href="#" class="navigation__item">О комитете</a>
							<a href="#" class="navigation__item">Руководители</a>
							<a href="#" class="navigation__item">Документы</a>
							<a href="#" class="navigation__item">Юридическая помощь</a>
							<a href="#" class="navigation__item">Пресс-центр</a>
							<a href="#" class="navigation__item">Контакты</a>
						</nav>
					</div>
					<div class="footer__main__grid">
						<div class="footer__main__grid__col">
							<div class="footer__navigation">
								<a href="#" class="footer__navigation__item">Устав</a>
								<a href="#" class="footer__navigation__item">Учредительный протокол</a>
								<a href="#" class="footer__navigation__item">Вступить в комитет</a>
							</div>
						</div>
						<div class="footer__main__grid__col">
							<div class="footer__navigation">
								<a href="#" class="footer__navigation__item">Председатели комитетов</a>
								<a href="#" class="footer__navigation__item">Заместители председателя</a>
								<a href="#" class="footer__navigation__item">Федеральный закон о противодействии коррупции</a>
								<a href="#" class="footer__navigation__item">Полномочные представители</a>
							</div>
						</div>
						<div class="footer__main__grid__col">
							<div class="footer__contacts">
								<div class="icon__box text__size--14">
									<i class="icon icon--dphone"></i> +7 (495) 133-65-45
								</div>
								<div class="icon__box">
									<i class="icon icon--dplacemark"></i> Москва, Ленинский проспект, 42к2
								</div>
								<div class="social__group">
									<a href="#" class="social__item"><i class="icon icon--dfacebook"></i></a>
									<a href="#" class="social__item"><i class="icon icon--dinstagram"></i></a>
									<a href="#" class="social__item"><i class="icon icon--dtwitter"></i></a>
									<a href="#" class="social__item"><i class="icon icon--dyoutube"></i></a>
									<a href="#" class="social__item"><i class="icon icon--dvk"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__notice">
				<p>Все права защищены. Москва 2020</p>
			</div>
		</div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="/assets/vendor/swiper/swiper.min.js"></script>
	<script src="/assets/js/Bundle.js"></script>
</body>
</html>