<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@@title</title>

	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/fonts/SegoeUI/stylesheet.css">
	<link rel="stylesheet" href="/assets/css/Vendor.css">
	<link rel="stylesheet" href="/assets/css/Bundle.css">
</head>
<body>
	<header class="header">
		<div class="header__subnavigation">
			<div class="container">
				<div class="container__row">
					<div class="header__subnavigation__row">
						<div class="header__subnavigation__item">
							<div class="icon__box">
								<i class="icon icon--placemark"></i> Москва, Ленинский проспект, 42к2
							</div>
						</div>
						<div class="header__subnavigation__item">
							<div class="social__group">
								<a href="#" class="social__item"><i class="icon icon--facebook"></i></a>
								<a href="#" class="social__item"><i class="icon icon--instagram"></i></a>
								<a href="#" class="social__item"><i class="icon icon--twitter"></i></a>
								<a href="#" class="social__item"><i class="icon icon--youtube"></i></a>
								<a href="#" class="social__item"><i class="icon icon--vk"></i></a>
							</div>
							<div class="icon__box text__size--14">
								<i class="icon icon--phone"></i> +7 (495) 133-65-45
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header__main">
			<div class="container">
				<div class="container__row">
					<div class="flex flex__jc-sb flex__ai-c">
						<a href="#" class="logo">
							<img src="../../assets/images/logo.svg" alt="" class="logo__image">
							<span class="logo__text">
								Федеральный комитет по борьбе<br>
								с коррупцией в высших эшелонах власти
							</span>
						</a>
						<nav class="navigation">
							<a href="#" class="navigation__item">Главная</a>
							<a href="#" class="navigation__item">
								О комитете
								<div class="navigation__subnavigation__wrapper">
									<div class="navigation__subnavigation">
										<div class="navigation__subnavigation__item">История комитета</div>
										<div class="navigation__subnavigation__item">Миссия и стратегия</div>
										<div class="navigation__subnavigation__item">Вступить в комитет</div>
									</div>
								</div>
							</a>
							<a href="#" class="navigation__item">Руководители</a>
							<a href="#" class="navigation__item">Документы</a>
							<a href="#" class="navigation__item">Юридическая помощь</a>
							<a href="#" class="navigation__item">Пресс-центр</a>
							<a href="#" class="navigation__item">Контакты</a>
							<a href="#" class="navigation__item position--static">
								<div class="search__widget" id="js-searchWidget">
									<div class="search__wrapper">
										<input type="text" name="search">
									</div>
									<i class="icon icon--search"></i>
								</div>
							</a>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>