.blue__container:before {
  background-image: url('/assets/images/blue-bg.png');
}
.blue__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
}
.blue__content p {
  max-width: 1118px;
  font-size: 14px;
}
.blue__submit {
  display: flex;
  justify-content: center;
  margin-top: 62px;
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.breadcrumbs__item {
  display: flex;
  font-size: 14px;
  color: black;
  line-height: 19px;
}
.breadcrumbs__item,
.breadcrumbs__item:hover,
.breadcrumbs__item:focus {
  text-decoration: none;
}
.breadcrumbs__item:not(:last-child) {
  color: #BCBCBC;
  margin-right: 13px;
  position: relative;
}
.breadcrumbs__item:not(:last-child):after {
  content: '/';
  color: black;
  position: absolute;
  top: 50%;
  right: -9px;
  transform: translateY(-50%);
}
.consult__container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 60px;
}
.consult__banner {
  max-width: calc((100% / 12) * 4 -15px);
  flex-basis: calc((100% / 12) * 4 - 15px);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/assets/images/consult_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 42px 20px;
  margin-right: 30px;
  box-shadow: 0 4px 29px rgba(0, 0, 0, 0.16);
}
.consult__banner__image {
  width: 217px;
  height: auto;
  margin-bottom: 23px;
}
.consult__banner__title {
  font-size: 27px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}
.consult__form {
  max-width: calc((100% / 12) * 8 - 15px);
  flex-basis: calc((100% / 12) * 8 - 15px);
  flex-shrink: 0;
  box-shadow: 0 4px 29px rgba(0, 0, 0, 0.16);
}
.consult__form__head {
  min-height: 170px;
  display: flex;
  align-items: center;
  background-color: #002F77;
  background-image: url('/assets/images/consult-form_bg.png');
  background-size: cover;
  background-position: top right;
  border-bottom: 5px solid #CAA45D;
  font-size: 29px;
  font-weight: bold;
  color: white;
  line-height: 38px;
  padding: 15px 50px 15px 90px;
}
.consult__form__main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  padding: 40px 90px;
}
.consult__form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
}
.consult__form__item > *:not(p) {
  max-width: 50%;
  flex-basis: 50%;
}
.consult__form__item > *:nth-child(odd) {
  margin-right: 23px;
}
.consult__form__item:not(:last-child) {
  margin-bottom: 40px;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-image: url('/assets/images/content_bg.svg');
  background-position: right -530px top 43px;
  background-size: 1062px 1164px;
  background-repeat: no-repeat;
  padding: 30px 0;
  /*
    Темплейты
    */
}
.content__container {
  color: #707070;
}
.content__container p {
  margin: 0;
  padding-bottom: 17px;
  line-height: 1.4;
}
.content__container strong,
.content__container b {
  font-weight: 600;
}
.content__container p,
.content__container a,
.content__container span,
.content__container em,
.content__container strong,
.content__container b {
  font-size: 14px;
}
.content__fullwidth {
  padding-top: 60px;
  padding-bottom: 50px;
  position: relative;
}
.content__fullwidth:before {
  content: '';
  width: calc(100vw - 17px);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.content--padding-template-1 {
  padding-top: 83px;
  padding-bottom: 44px;
}
.doc__list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 46px;
}
.doc__item {
  width: calc(100% / 5 - 39px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 85px;
}
.doc__item .image {
  width: 181px;
  height: 248px;
  margin-bottom: 26px;
  box-shadow: 0 3px 53px -19px rgba(0, 0, 0, 0.16);
}
.doc__item p {
  max-width: 100%;
  font-size: 14px;
  color: black;
  text-align: center;
}
.doc__item:not(:nth-child(5n+5)) {
  margin-right: 47px;
}
.doc__item,
.doc__item:focus,
.doc__item:hover {
  text-decoration: none;
}
.footer__main {
  background-color: #313131;
}
.footer__main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 26px 41px 26px !important;
  position: relative;
}
.footer__main__container:after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #3E3E3E;
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
}
.footer__main__container .navigation__item {
  color: white;
}
.footer__main__grid {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 11px;
}
.footer__main__grid__col {
  max-width: calc(100% / 3);
  flex-basis: calc(100% / 3);
  padding: 0 15px;
}
.footer__navigation {
  display: flex;
  flex-direction: column;
}
.footer__navigation__item {
  font-size: 14px;
  color: #707070;
  margin-bottom: 10px;
}
.footer__navigation__item,
.footer__navigation__item:hover,
.footer__navigation__item:focus {
  text-decoration: none;
}
.footer__contacts {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.footer__contacts > *:not(:last-child) {
  margin-bottom: 8px;
}
.footer__contacts .icon__box {
  color: #707070;
}
.footer__bottom {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727;
}
.footer__notice {
  font-size: 11px;
  color: #484848;
  text-align: center;
}
.form {
  background-color: white;
  padding: 0 !important;
  box-shadow: 0 4px 29px rgba(0, 0, 0, 0.16);
  margin-bottom: 28px;
}
.form__head {
  min-height: 170px;
  display: flex;
  align-items: center;
  background-color: #002F77;
  background-image: url('/assets/images/form_bg.png');
  background-size: cover;
  background-position: top right;
  border-bottom: 5px solid #CAA45D;
  font-size: 29px;
  font-weight: bold;
  color: white;
  line-height: 38px;
  padding: 15px 50px 15px 90px;
}
.form__body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 40px 90px;
}
.form__body__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
}
.form__body__item > * {
  flex-grow: 1;
  flex-shrink: 0;
}
.form__body__item > *:not(p):not(.form__element__fullwidth) {
  max-width: calc(100% / 3 - 42px);
  flex-basis: calc(100% / 3 - 42px);
}
.form__body__item > *:not(p):not(.form__element__fullwidth):not(:nth-child(3n+3)) {
  margin-right: 15px;
}
.form__body__item:not(:last-child) {
  margin-bottom: 25px;
}
.header__subnavigation {
  width: 100%;
  height: 28px;
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
}
.header__subnavigation__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__subnavigation__item {
  display: flex;
  align-items: center;
}
.header__subnavigation__item *:not(:last-child) {
  margin-right: 53px;
}
.header__main {
  height: 94px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}
.icon {
  width: 19px;
  height: 19px;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.icon--placemark {
  background-image: url('../images/icons/placemark.svg');
}
.icon--phone {
  background-image: url('../images/icons/phone.svg');
}
.icon--search {
  background-image: url('../images/icons/search.svg');
}
.icon--youtube {
  background-image: url('../images/icons/youtube.svg');
}
.icon--facebook {
  background-image: url('../images/icons/facebook.svg');
}
.icon--instagram {
  background-image: url('../images/icons/instagram.svg');
}
.icon--twitter {
  background-image: url('../images/icons/twitter.svg');
}
.icon--vk {
  background-image: url('../images/icons/vk.svg');
}
.icon--dplacemark {
  background-image: url('../images/icons/dark/placemark.svg');
}
.icon--dphone {
  background-image: url('../images/icons/dark/phone.svg');
}
.icon--dyoutube {
  background-image: url('../images/icons/dark/youtube.svg');
}
.icon--dfacebook {
  background-image: url('../images/icons/dark/facebook.svg');
}
.icon--dinstagram {
  background-image: url('../images/icons/dark/instagram.svg');
}
.icon--dtwitter {
  background-image: url('../images/icons/dark/twitter.svg');
}
.icon--dvk {
  background-image: url('../images/icons/dark/vk.svg');
}
.icon__box {
  display: flex;
  align-items: center;
}
.icon__box .icon {
  margin-right: 6px;
}
.image {
  background-color: #818181;
  background-size: contain;
  background-repeat: no-repeat;
}
.image--cover {
  background-size: cover;
}
.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  width: auto;
  height: 61px;
  flex-shrink: 0;
  margin-right: 24px;
}
.logo,
.logo:hover,
.logo:focus,
.logo:active {
  text-decoration: none;
}
* {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 12px;
  color: #707070;
}
p {
  margin: 0;
}
.navigation {
  display: flex;
  align-items: center;
  position: relative;
}
.navigation__item {
  font-size: 13px;
  line-height: 17px;
  white-space: nowrap;
  cursor: pointer;
}
.navigation__item:hover {
  color: #CAA45D;
  position: relative;
}
.navigation__item:hover .navigation__subnavigation__wrapper {
  display: flex;
}
.navigation__item,
.navigation__item:hover,
.navigation__item:focus,
.navigation__item:active {
  text-decoration: none;
}
.navigation__item:not(:last-child) {
  margin-right: 16px;
}
.navigation__subnavigation {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.72);
  padding: 25px 17px;
}
.navigation__subnavigation__wrapper {
  display: none;
  position: relative;
  padding-top: 6px;
  position: absolute;
  top: 100%;
  left: 0;
}
.navigation__subnavigation__wrapper:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 6px 5px;
  border-color: transparent transparent rgba(255, 255, 255, 0.72) transparent;
  filter: brightness(-0.12);
  position: absolute;
  top: 0;
  left: 20px;
}
.navigation__subnavigation__item {
  font-weight: normal;
}
.navigation__subnavigation__item:not(:last-child) {
  margin-bottom: 16px;
}
.navigation__subnavigation__item:hover {
  font-weight: 600;
  color: #CAA45D;
}
.newscard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  box-shadow: 0 4px 29px rgba(0, 0, 0, 0.16);
  margin-bottom: 26px;
}
.newscard__list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 17px;
}
.newscard__list .newscard {
  width: calc(100% / 3 - 28px);
}
.newscard__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 13px;
}
.newscard__info__title {
  font-size: 20px;
  color: black;
  line-height: 27px;
  margin-bottom: 20px;
}
.newscard__info__text {
  font-size: 14px;
  color: #707070;
  line-height: 19px;
  margin-bottom: 40px;
}
.newscard .image {
  width: 100%;
  height: 234px;
  background-size: cover;
}
.order__list {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.order__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__item .image {
  width: 181px;
  height: 248px;
  margin-bottom: 26px;
  box-shadow: 0 3px 53px -19px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.order__item p {
  font-size: 14px;
  color: black;
  text-align: center;
}
.order__item:not(:nth-child(3n + 3)):not(:last-child) {
  margin-right: 47px;
}
.photo__list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}
.photo__item {
  width: calc(100% / 3 - (50px / 3));
  margin-bottom: 37px;
  cursor: pointer;
}
.photo__item .image {
  width: 100%;
  height: 234px;
  background-color: #eee;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iYmFzZWxpbmUtcGhvdG9fc2l6ZV9zZWxlY3RfYWN0dWFsLTI0cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjU2LjEzMyIgaGVpZ2h0PSI1Ni4xMzMiIHZpZXdCb3g9IjAgMCA1Ni4xMzMgNTYuMTMzIj4NCiAgPHBhdGggaWQ9IlBhdGhfMTczNSIgZGF0YS1uYW1lPSJQYXRoIDE3MzUiIGQ9Ik01Ni4xMzMsNTYuMTMzSDBWMEg1Ni4xMzNaIiBmaWxsPSJub25lIi8+DQogIDxwYXRoIGlkPSJQYXRoXzE3MzYiIGRhdGEtbmFtZT0iUGF0aCAxNzM2IiBkPSJNNDcuNzc3LDNINS42NzhBNS4wMyw1LjAzLDAsMCwwLDEsNy42NzhWNDAuNDIyQTQuNjkxLDQuNjkxLDAsMCwwLDUuNjc4LDQ1LjFoNDIuMWE1LjAzLDUuMDMsMCwwLDAsNC42NzgtNC42NzhWNy42NzhBNS4wMyw1LjAzLDAsMCwwLDQ3Ljc3NywzWk0xMC4zNTUsMzUuNzQ0bDguMTg2LTEwLjUyNSw1Ljg0Nyw3LjA0LDguMTg2LTEwLjU0OEw0My4xLDM1Ljc0NFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEuMzM5IDQuMDE3KSIgZmlsbD0iI2Q4ZDhkOCIvPg0KPC9zdmc+DQo=");
  background-position: center;
  background-size: 56px 56px;
}
.protocol__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}
.protocol__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.protocol__item p {
  font-size: 14px;
  color: black;
  text-align: center;
}
.protocol__images {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.protocol__images .image {
  width: 181px;
  height: 248px;
  margin-bottom: 26px;
  box-shadow: 0 3px 53px -19px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.protocol__images .image:not(:nth-child(3n + 3)) {
  margin-right: 47px;
}
.report__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.report__item {
  width: 100%;
  background-color: #F4F4F4;
  padding: 18px 36px;
  margin-bottom: 20px;
}
.report__item p {
  font-size: 14px;
  color: #707070;
  line-height: 19px;
}
.report__date {
  font-size: 14px;
  color: #CECECE;
  line-height: 19px;
  margin-top: 5px;
}
.search__widget {
  padding-left: 13px;
  position: relative;
}
.search__widget:before {
  content: '';
  width: 1px;
  height: 40px;
  background-color: #EBEBEB;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.search__wrapper {
  width: 0;
  position: absolute;
  top: 50%;
  right: 31px;
  transform: translateY(-50%);
  overflow: hidden;
}
.search__wrapper input {
  transition: all 0.3s;
}
.search__wrapper input:focus {
  outline: none;
}
.search__wrapper.active {
  width: auto;
}
.search__wrapper.active input {
  padding: 13px 15px;
  border: 1px solid #EBEBEB;
}
.search .icon {
  width: 24px;
  height: 24px;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #CAA45D;
  margin-bottom: 17px;
}
.slider {
  margin-bottom: 46px;
}
.slider .swiper-container {
  box-shadow: 0px 40px 29px -43px rgba(23, 22, 22, 0.6);
}
.slider .swiper-container,
.slider .swiper-container .image {
  width: 100%;
  height: 400px;
  position: relative;
}
.slider .swiper-pagination {
  width: auto;
  bottom: 30px;
  text-align: left;
  margin-left: 60px;
}
.slider .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: white;
  margin: 0 !important;
  opacity: 1;
}
.slider .swiper-pagination-bullet:not(:last-child) {
  margin-right: 14px !important;
}
.slider .swiper-pagination-bullet-active {
  background: white;
}
.social__group {
  display: flex;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 17px;
}
.social__item .icon {
  width: 18px;
  height: 13px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  /**
	* Цвета
	*/
  /**
	* Выравнивание
	*/
  /**
	* Элементы заголовка
	*/
}
.title p {
  font-size: 40px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin: 0;
}
.title span {
  max-width: 710px;
  font-size: 25px;
  font-weight: 300;
  color: black;
  text-align: center;
  line-height: 35px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.title--white p,
.title--white span {
  color: white;
}
.title__left {
  align-items: flex-start;
}
.title__right {
  align-items: flex-end;
}
.title__preimg {
  width: auto;
  height: 156px;
  margin-bottom: 45px;
}
.video__list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 20px;
}
.video__card {
  width: calc(100% / 3 - 15px);
  margin-bottom: 38px;
}
.video__card .image {
  width: 100%;
  height: 235px;
  margin-bottom: 16px;
}
.video__card span {
  font-size: 20px;
  color: black;
  line-height: 27px;
}
.video__card,
.video__card:hover,
.video__card:focus {
  text-decoration: none;
}
.button {
  min-width: 224px;
  height: 55px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0.5;
  font-size: 16px;
  text-align: center;
  border-style: solid;
  border-radius: 13px;
  cursor: pointer;
  /**
        Формфактор
     */
  /**
    Цвета
     */
  /**
    Модификатор
     */
}
.button__jumbo {
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, #e8d3ab 0%, #caa45d 100%);
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  padding: 0 50px;
  border-radius: 20px;
}
.button__jumbo__group {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.button__jumbo__group .button__jumbo {
  width: calc(100% / 3);
  flex-grow: 1;
  margin-bottom: 32px;
}
.button__jumbo__group .button__jumbo:not(:last-child) {
  margin-right: 38px;
}
.button__big {
  height: 69px;
}
.button__active {
  background-color: #CAA45D;
  color: white;
  border-color: #CAA45D;
}
.button__active.button__outline {
  color: #CAA45D;
}
.button__blue {
  background-color: #002F77;
  color: white;
  border-color: #002F77;
}
.button__blue.button__outline {
  color: #002F77;
}
.button__outline {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
}
.button,
.button:hover,
.button:focus {
  text-decoration: none;
  outline: none;
}
.input__text {
  background-color: #F2F2F2;
  font-size: 14px;
  color: black;
  text-align: center;
  padding: 16px 15px;
  border: 1px solid #DEDEDE;
  border-radius: 13px;
}
textarea.input__text {
  height: 167px;
  resize: none;
}
.input__text,
.input__text:hover,
.input__text:focus {
  outline: none;
}
.input__checkbox {
  padding-left: 26px;
}
.input__checkbox label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
  line-height: 20px;
  position: relative;
  cursor: pointer;
}
.input__checkbox label a {
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
}
.input__checkbox label:before {
  content: '';
  width: 13px;
  height: 13px;
  background-color: #ECECEC;
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  z-index: 1;
}
.input__checkbox input[type="checkbox"] {
  display: none;
}
.input__checkbox input[type="checkbox"]:checked + label:after {
  content: '';
  width: 16px;
  height: 14px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOS4xMTMiIGhlaWdodD0iMTUuMTM4IiB2aWV3Qm94PSIwIDAgMTkuMTEzIDE1LjEzOCI+DQogIDxnIGlkPSJHcm91cF8zOTUiIGRhdGEtbmFtZT0iR3JvdXAgMzk1IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMi45NjEgMS41MjkpIHJvdGF0ZSgtNDUpIj4NCiAgICA8bGluZSBpZD0iTGluZV8xOSIgZGF0YS1uYW1lPSJMaW5lIDE5IiB4MT0iMC42NiIgeTI9IjcuMDc3IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMC43MDcgOC4xNjEpIiBmaWxsPSJub25lIiBzdHJva2U9IiM2ZDZkNmQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIzIi8+DQogICAgPGxpbmUgaWQ9IkxpbmVfMjAiIGRhdGEtbmFtZT0iTGluZSAyMCIgeDE9IjEzLjM4OCIgeTI9IjEuNDIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0wLjcwNyAxMy44MTcpIiBmaWxsPSJub25lIiBzdHJva2U9IiM2ZDZkNmQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIzIi8+DQogIDwvZz4NCjwvc3ZnPg0K");
  background-size: contain;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  z-index: 2;
}
.input__file {
  max-width: 100% !important;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.input__file input {
  display: none;
}
.input__file label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
  text-decoration: underline;
  padding-left: 23px;
  position: relative;
  cursor: pointer;
}
.input__file label:before {
  content: '';
  width: 11px;
  height: 22px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIyMiIgdmlld0JveD0iMCAwIDExIDIyIj4NCiAgPHBhdGggaWQ9IlBhdGhfMzQ5NCIgZGF0YS1uYW1lPSJQYXRoIDM0OTQiIGQ9Ik0xNi41LDZWMTcuNWE0LDQsMCwwLDEtOCwwVjVhMi41LDIuNSwwLDAsMSw1LDBWMTUuNWExLDEsMCwwLDEtMiwwVjZIMTB2OS41YTIuNSwyLjUsMCwwLDAsNSwwVjVBNCw0LDAsMCwwLDcsNVYxNy41YTUuNSw1LjUsMCwwLDAsMTEsMFY2WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTcgLTEpIiBmaWxsPSIjMDAyZjc3Ii8+DQo8L3N2Zz4NCg==");
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.empty__space {
  width: 100%;
  background: transparent;
}
.flex {
  display: flex;
}
.flex__nowrap {
  flex-wrap: nowrap;
}
.flex__wrap {
  flex-wrap: wrap;
}
.flex__fd-c {
  flex-direction: column;
}
.flex__fd-rc {
  flex-direction: column-reverse;
}
.flex__fd-r {
  flex-direction: row;
}
.flex__fd-rr {
  flex-direction: row-reverse;
}
.flex__ai-c {
  align-items: center;
}
.flex__ai-fs {
  align-items: flex-start;
}
.flex__ai-fe {
  align-items: flex-end;
}
.flex__jc-c {
  justify-content: center;
}
.flex__jc-fs {
  justify-content: flex-start;
}
.flex__jc-fe {
  justify-content: flex-end;
}
.flex__jc-sb {
  justify-content: space-between;
}
.flex__jc-sa {
  justify-content: space-around;
}
.float__left {
  float: left;
}
.float__left__img {
  padding-right: 32px;
  padding-bottom: 20px;
}
.float__right {
  float: right;
}
.float__right__img {
  padding-left: 32px;
  padding-bottom: 20px;
}
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
.container__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
.container__row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.padding__remove--v {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.padding__remove--h {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.padding__remove--all {
  padding: 0 !important;
}
.margin__remove--v {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.margin__remove--h {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.margin__remove--all {
  margin: 0 !important;
}
.position--static {
  position: static;
}
.position--relative {
  position: relative;
}
.position--absolute {
  position: absolute;
}
.position--sticky {
  position: -webkit-sticky;
  position: sticky;
}
.text__size--14 {
  font-size: 14px;
}
.text__size--16 {
  font-size: 16px;
}
.text__size--18 {
  font-size: 18px;
}
.text__size--20 {
  font-size: 20px;
}
.text__size--22 {
  font-size: 22px;
}
.text__size--24 {
  font-size: 24px;
}
.text__weight--bold {
  font-weight: bold;
}
.text__weight--semibold {
  font-weight: 600;
}
.text__weight--regular {
  font-weight: normal;
}
.text__weight--light {
  font-weight: 300;
}
.text__align--left {
  text-align: left;
}
.text__align--center {
  text-align: center;
}
.text__align--right {
  text-align: right;
}
.text__color--white {
  color: white;
}
.text__color--active {
  color: #CAA45D;
}
