.text {
    &__size {
        &--14 { font-size: 14px; }
        &--16 { font-size: 16px; }
        &--18 { font-size: 18px; }
        &--20 { font-size: 20px; }
        &--22 { font-size: 22px; }
        &--24 { font-size: 24px; }
    }

    &__weight {
        &--bold { font-weight: bold; }
        &--semibold { font-weight: 600; }
        &--regular { font-weight: normal; }
        &--light { font-weight: 300; }
    }
}